# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


../# - name Build and Push Docker Imag.txt
        ../AppDev/
        ../BMSCE SEM 3/
        ../BMSCE SEM 4/
        ../CRP AAT/
        ../Cisco Packet Tracer.lnk
        ../Docker Desktop.lnk
        ../Donation Tracker/
        ../Formal profile photo.jpg
        ../GRE Materials/
        ../Harshitha R- Photo.jpeg
        ../IMDB Dataset.csv
        ../Icarus Verilog.lnk
        ../Internship Sem3/
        ../Jupyter/
        ../LMS SEM 3(without backend)/
        ../LMS SEM 4 (with nodejs)/
        ../Microsoft Edge.lnk
        ../MinGW Installer.lnk
        ../NodeJS/
        ../OS_Lab_1BM21CS075/
        ../PremiumReceipt_67725415_09932708.pdf
        ../Zoom.lnk
        ../css/
        ../desktop.ini
        ../gitws/
        ../icons/
        ../images/
        ../lms-node-copy/
